
<!doctype html>

<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Dimitris Mavromatis</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand text-dark" href="{% url 'home' %}">Dimitris Mavromatis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link text-secondary" href="https://gitlab.com/G-mi">GitLab</a>
          <a class="nav-item nav-link text-secondary" href="https://www.instagram.com/mavromatis_dimitris/">Instagram</a>
          <a class="nav-item nav-link text-secondary" href="https://twitter.com/DimiMavromatis">Twitter</a>
          <!--<a class="nav-item nav-link text-secondary" href="{% static 'cheatsheet.png' %}">Resume</a>-->
          <a class="nav-item nav-link text-secondary" href="{% url 'blogdisplay' %}">Blog</a>
          <a class="nav-item nav-link text-secondary" href="mailto:me@idim.io">Email Me</a>

        </div>
      </div>
    </nav>
  </header>

  <main role="main">

    <section class="jumbotron text-center bg-white">
      <div class="container">
        <h1 class="jumbotron-heading">Dimitris Mavromatis</h1>
        <p class="lead text-muted">A python lover that is just a little too excited about coding. Django - Pygame ~ Pycharm.</p>
        <p>
          <a class="btn btn-primary my-2" href="https://gitlab.com/G-mi">GitLab</a>
          <!--<<href="{% static 'cheatsheet.png' %}" class="btn btn-primary my-2">Resume</a>-->
          <!--<a href="{% url 'blogdisplay' %}" class="btn btn-secondary my-2">Blog</a>-->
        </p>
        <img src="{% static 'classic.jpg' %}" width='320'/>
      </div>
    </section>

    <section class="jumbotron text-center bg-white">
      <div class="container">
        <img align="middle" src="{% static 'collageNew.png' %}" width='320'/>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          {% for work in works.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{{ work.image.url }}" width="100%" height="225" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><<rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">{{ work.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Dimitris Mavromatis {% now "Y" %}</p>
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </html>
