
<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">

  <title>{{ post.title }}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-u ser-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Dimitris Mavromatis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://www.instagram.com/mavromatis_dimitris/">Instagram</a>
          <a class="nav-item nav-link" href="https://twitter.com/DimiMavromatis">Twitter</a>
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link active" href="{% url 'blogdisplay' %}">Blog</a>
          <a class="nav-item nav-link" href="mailto:me@idim.io">Email Me</a>

        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container">

   <br />
   <h1 class="container text-center pt-3">{{ post.title }}</h1>
   <p class="text-center">{{ post.pud_date }}</p>
   <br />
   <img class="img-fluid" src="{{ post.image.url }}" height=900/>
   <br />
   <br />
   <!--
     this how to chnage font size
    <p style="color:blue;font-size:18px;">This is demo text</p>

   -->
   <p>{{ post.body|linebreaks }}</p>


  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="container text-center">

        {% for post in posts.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{{ post.image.url }}" width="100%" height="225" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><<rect width="100%" height="100%" fill="#55595c"/>
            <div class="card-body">
              <p class="card-text">{{ post.title }}</p>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <br />
        {% endfor %}

      </div>
    </div>
  </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Dimitris Mavromatis {% now "Y" %}</p>
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </html>
